.title h1 {
  color: #07008b;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

thead {
  background-color: #07008b;
  color: white;
}

th,
td {
  border: 1px solid #07008b;
  text-align: center;
  padding: 8px;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #ddd;
}

h1 {
  text-align: center;
  color: #333;
}

p {
  text-align: center;
  color: #574dc0;
}
